nav, div, a {
    margin: 10px;
    padding: 10px;
}

nav, div {
    display: flex;
}

nav a:nth-of-type(4){
    margin-left: auto;
}

nav a:nth-of-type(2){
    margin-left: auto;
}

nav, a {
    border: 1px solid gray;
}

a {
    margin: 3px 10px;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid gold;
    height: 150px;
}

div a {
    display: block;
    width: 75px;
    text-align: center;
    /*margin: auto;*/
}

main {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}
section {
    display: flex;
    flex-direction: column;
    border: 2px solid darkgray;
    padding: 5px;
    width: 334px;
}
section p {
    border: 1px solid black;
    flex-grow: 1;
}