
container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

 #map{
     width: 900px;
     height: 900px;
 }
.unique {
    background-color: lightblue;
}
h1{
    font-size: 10px;
}